Unit sudo.service could not be found.
Unit systemctl.service could not be found.
Unit status.service could not be found.
● uwsgi.service - UWSGI SYSTEMD SERVICE
   Loaded: loaded (/etc/systemd/system/uwsgi.service; disabled; vendor preset: disabled)
   Active: inactive (dead)

[0;1;32m●[0m data-upload_tenth.service - Master Gateway Data Upload Service
   Loaded: loaded (/etc/systemd/system/data-upload_tenth.service; enabled; vendor preset: disabled)
   Active: [0;1;32mactive (running)[0m since Mon 2021-09-27 06:38:43 UTC; 2h 22min ago
 Main PID: 817 (python3)
    Tasks: 2 (limit: 23433)
   Memory: 20.0M
   CGroup: /system.slice/data-upload_tenth.service
           └─817 /usr/bin/python3 /home/ec2-user/master-gw/master_tenth_floor/postData.py

Sep 27 09:00:48 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - No Assets data to be sent to the server
Sep 27 09:01:03 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - Data processed is -
Sep 27 09:01:03 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - []
Sep 27 09:01:03 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - No Assets data to be sent to the server
Sep 27 09:01:18 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - Data processed is -
Sep 27 09:01:18 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - []
Sep 27 09:01:18 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - No Assets data to be sent to the server
Sep 27 09:01:33 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - Data processed is -
Sep 27 09:01:33 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - []
Sep 27 09:01:33 ip-172-31-11-137.ap-south-1.compute.internal python3[817]: data-upload-service - No Assets data to be sent to the server

[0;1;32m●[0m socket-server_tenth.service - Master Socket Server Service
   Loaded: loaded (/etc/systemd/system/socket-server_tenth.service; enabled; vendor preset: disabled)
   Active: [0;1;32mactive (running)[0m since Mon 2021-09-27 06:38:44 UTC; 2h 22min ago
 Main PID: 827 (python3)
    Tasks: 1 (limit: 23433)
   Memory: 11.4M
   CGroup: /system.slice/socket-server_tenth.service
           └─827 /usr/bin/python3 /home/ec2-user/master-gw/master_tenth_floor/socketServer.py

Sep 27 06:38:44 ip-172-31-11-137.ap-south-1.compute.internal systemd[1]: Started Master Socket Server Service.

[0;1;32m●[0m subscriber_tenth.service - Master Gateway Subscription Service
   Loaded: loaded (/etc/systemd/system/subscriber_tenth.service; enabled; vendor preset: disabled)
   Active: [0;1;32mactive (running)[0m since Mon 2021-09-27 06:38:44 UTC; 2h 22min ago
 Main PID: 825 (python3)
    Tasks: 1 (limit: 23433)
   Memory: 13.4M
   CGroup: /system.slice/subscriber_tenth.service
           └─825 /usr/bin/python3 /home/ec2-user/master-gw/master_tenth_floor/subscription.py

Sep 27 06:38:44 ip-172-31-11-137.ap-south-1.compute.internal systemd[1]: Started Master Gateway Subscription Service.
Sep 27 06:38:44 ip-172-31-11-137.ap-south-1.compute.internal python3[825]: subscription-service - Failed to connect to the broker...will try again after five seconds
Sep 27 06:38:49 ip-172-31-11-137.ap-south-1.compute.internal python3[825]: subscription-service - Connected to broker successfully(CALLBACK FUNCTION)
